* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    width: 500px;
    background-color: #F4F4F4;
}

header {
    text-align: center;
    margin-top: 20px;
    font-weight: 900;
    font-size: 20px;
}

label {
    display: flex;
    gap: 20px;
    border: 1px solid #000000;
    margin-bottom: 5px;
    height: 28px;
    align-items: center;
    padding-left: 10px;
}

input {
    outline: none;
    border: 1px solid #000000;
}

main {
    padding: 24px;
}

.image {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

button {
    height: 51px;
    width: 100%;
    margin: 10px 0 20px 0;
    color: #FFFFFF;
    background-color: #000000;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    border: none;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

section {
    border: 1px solid #000000;
    padding: 0 10px;
}

.medida {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px 0;
}

.dados {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    justify-content: space-between;
    padding: 0 10px;
    border: 1px solid #000000;
}